
body {
background-color: rgb(246, 231, 231);
background-image: url("https://res.cloudinary.com/gofjords-com/images/w_2560,h_1707,c_scale/f_auto,q_auto:eco/v1607425712/Blog%20Content/Bergen/x%20reasons%20why%20you%20should%20visit%20Bergen/Bryggen-Bergen-rain-umbrella-wet-weather-1/Bryggen-Bergen-rain-umbrella-wet-weather-1.jpg?_i=AA");
background-size: 100%;
}
h1 {
text-align: center;
}

    p {
      text-align: center;
      font-size: larger;
    }

    form {
      max-width: 700px;
      margin: 20px auto;
      background-color: #f26666;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      color:white;
    }