.bunnbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20%;
  background-color: #2b2b2b;
  color: #d87272;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  z-index: 1000; 
}


.container1 {
    position: sticky;
background-color: #2b2b2b;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo1 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #e0e0e0;
  text-decoration: none;
}

.logo1:hover {
  color: #fff;
}


.nav1 {
  display: flex;
  gap: 20px;
}

.nav1 a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
}

.nav1 a:hover {
  background-color: #3c3f41;
  color: #fff;
}