h1 {
    text-align: center;
    color:white
}
body {
    background-color: rgb(39, 52, 236);
    color:white
}
div2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px
}
